body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display:flex;
    justify-content: space-between;
    margin: 0;
    display: flex;
    align-items: center;
    
}

.left {
    color:#f9faf8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-size: 18px;
    
}

a {
    color: #e5e7eb;
    text-decoration: none;
    
}

.header, .body {
    background-color: #1f2937;
    padding: 20px 150px;
}

.welcome {
    height: auto;
    width: 400px;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.sidebar {
    height: 300px;
    width: 500px;
}

.body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

.Sign-up {
    background-color: #3882f6;
    border-radius: 5px;
    color: #f9faf8;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px 5px;
}

.modal {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.info img {
    height: 200px;
    width: 200px;
}

.info .description {
    width: 200px;
    font-size: 18px;
    color: #424242;
    
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding-bottom: 30px;
}

.quote, .quote-author {
    width: 500px;
    height: 100px;
}

.quotation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
}

.quote {
    font-style: italic;
}

.quote-author{
    text-align: right;
}

.left2 {
    
}
